www.spotnav.net {
        root /var/www
        gzip
        tls brbitzbussy@gmail.com
        proxy /api localhost:9010
        rewrite / {
                if {path} not_match ^/api
                to {path} /
        }
}
www.spotnav.co.za {
        root /var/www
        gzip
        tls calvinvw@hotmail.com
        proxy /api localhost:9010
        rewrite / {
                if {path} not_match ^/api
                to {path} /
        }
}