www.spotnav.net {
        root /var/www
        gzip
        tls brbitzbussy@gmail.com
        proxy /api/portal localhost:9010
        proxy /api/nerve localhost:9011
        rewrite / {
                if {path} not_match ^/api/portal
                if {path} not_match ^/api/nerve
                to {path} /
        }
} 
www.spotnav.co.za {
        root /var/www
        gzip
        tls calvinvw@hotmail.com
        proxy /api/portal localhost:9010
        proxy /api/nerve localhost:9011
        rewrite / {
                if {path} not_match ^/api/portal
                if {path} not_match ^/api/nerve
                to {path} /
        }
}