[Unit]
Description=Brain
After=network.target
[Service]
ExecStart=/home/brain/brain -mongoUser={{ mongo_user.name }} \
                              -mongoPassword={{ mongo_user.password }} \
                              -mailRedirectBaseUrl=https://www.spotnav.co.za \
                              -rootPasswordFileLocation=rootPassword \
                              -pathToEmailTemplateFolder=resources/email/template \
                              -mongoNodes={% for host in groups['db'] -%}
                                            {{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}:{{ mongo_port }}{% if not loop.last %},{% endif %}
                                           {%- endfor %} \
                              -kafkaBrokers={% for host in groups['messaging'] -%}
                                            {{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}:{{ kafka_port }}{% if not loop.last %},{% endif %}
                                           {%- endfor %} \
                              -keysFilePath=resources/keys \                                           
WorkingDirectory=/home/brain
Restart=always
User=brain
Group=brain
Environment=PATH=/usr/bin:/usr/local/bin