[Unit]
Description=Brain
After=network.target
[Service]
ExecStart=/home/brain/brain -mongoUser=brain \
                              -mongoPassword={{ mongo_user.password }} \
                              -mailRedirectBaseUrl=https://www.spotnav.co.za \
                              -rootPasswordFileLocation=rootPassword \
                              -pathToEmailTemplateFolder=resources/email/template \
                              -mongoNodes="165.22.246.12:27017" \
                              -kafkaBrokers="165.22.241.175:9092"
WorkingDirectory=/home/brain
Restart=always
User=brain
Group=brain
Environment=PATH=/usr/bin:/usr/local/bin