# brain config file

emailaddress = ""
emailhost = "smtp.gmail.com"
emailpassword = ""
keyfilepath = "resources/keys"
mailredirectbaseurl = "https://www.iotmyworld.com"
mongonodes = [{% for host in groups['db'] -%}
                "{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}:{{ mongo_port }}"{% if not loop.last %},{% endif %}
              {%- endfor %}]
mongopassword = "{{ mongo_user.password }}"
mongouser = "{{ mongo_user.name }}"
pathtoemailtemplatefolder = "resources/email/template"
rootpasswordfilelocation = "rootPassword"